{% extends "base.html" %}
{% load staticfiles i18n %}

{% block content %}
<!-- Main Container -->
<main id="app" class="main-section">
    <!-- header navigation start -->
    <header id="navigation" class="root-sec white nav">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="nav-inner">
                        <nav class="primary-nav">
                            <div class="clearfix nav-wrapper">
                                <a href="#home" class="left brand-logo menu-smooth-scroll"
                                    data-section="#home"><img src="{% static 'images/logo.png' %}" alt="">
                                </a>
                                <a href="#" data-activates="mobile-demo" class="button-collapse">
                                    <i class="mdi-navigation-menu"></i></a>
                                <ul class="right static-menu">
                                    <li class="search-form-li">
                                        <a id="initSearchIcon" class=""><i class="mdi-action-search"></i> </a>
                                        <div class="search-form-wrap hide">
                                            <form action="#" class="">
                                                <input type="search" class="search">
                                                <button type="submit"><i class="mdi-action-search"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </li>
                                    <!--<li>-->
                                        <!--<a class="dropdown-button blog-submenu-init" href="#!" -->
                                            <!--data-activates="dropdown1">-->
                                            <!--<i class="mdi-navigation-more-vert right"></i>-->
                                            <!--</a>-->
                                        <!--</li>-->
                                </ul>
                                <ul class="inline-menu side-nav" id="mobile-demo">

                                    <!-- Mini Profile // only visible in Tab and Mobile -->
                                    <li class="mobile-profile">
                                        <div class="profile-inner">
                                            <div class="pp-container">
                                                <img src="{% static 'images/favicon.png' %}" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <!-- mini profile end-->
                                    <li><a href="#about" data-section="#about" 
                                            class="menu-smooth-scroll"><i class="fa fa-user fa-fw"></i>{{ ABOUT }}</a>
                                    </li>
                                    <li><a href="#resume" data-section="#resume" 
                                            class="menu-smooth-scroll"><i class="fa fa-file-text fa-fw"></i>{{ RESUME }}</a>
                                    </li>
                                    <li><a href="#portfolio" data-section="#portfolio" 
                                            class="menu-smooth-scroll"><i class="fa fa-briefcase fa-fw"></i>{{ PORTAFOLIO }}</a>
                                    </li>
                                    <li><a href="#team" data-section="#team" 
                                            class="menu-smooth-scroll"><i class="fa fa-users fa-fw"></i>{{ TEAM }}</a>
                                    </li>
                                    <li><a href="#testimonial" data-section="#testimonial" 
                                            class="menu-smooth-scroll"><i class="fa fa-comments fa-fw"></i>{{ TESTIMONIAL }}</a>
                                    </li>
                                    <li><a href="#blog" data-section="#blog" 
                                            class="menu-smooth-scroll"><i class="fa fa-pencil fa-fw"></i>{{ BLOG }}</a>
                                    </li>
                                    <li><a href="#contact" data-section="#contact"
                                            class="menu-smooth-scroll"><i class="fa fa-paper-plane fa-fw"></i>{{ CONTACT }}</a>
                                    </li>
                                </ul>
                                <!--<ul id="dropdown1" class="inline-menu submenu-ul dropdown-content">-->
                                    <!--<li>Home</li>-->
                                    <!--<li><a href="blog.html">All Blog</a> </li>-->
                                    <!--<li><a href="blog-with-sidebar.html">Blog with Sidebar</a> </li>-->
                                    <!--<li><a href="single.html">Single Blog</a> </li>-->
                                    <!--</ul>-->

                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- .container end -->
    </header>
    <!-- #header  navigation end -->

    <div class="sections-wrapper">
        <!-- Home Section start -->
        <section id="home" class="scroll-section root-sec grey lighten-5 home-wrap">
            <div class="sec-overlay">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="home-inner">
                                <div class="center-align home-content">
                                    <h1 class="home-title">{{ TITLE }} </h1>
                                    <h2 class="home-subtitle">{{ SUBTITLE }}</h2>
                                    <a href="#contact" 
                                        class="hire-me-btn btn waves-effect waves-light btn-large brand-bg white-text regular-text">
                                        {{ CONTACT_US }}
                                        <i class="mdi-content-send left"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .container end -->
                <div class="section-call-to-area">
                    <div class="container">
                        <div class="row">
                            <a href="#about" 
                                class="btn-floating btn-large button-middle call-to-about section-call-to-btn animated btn-up btn-hidden"
                                data-section="#about">
                                <i class="mdi-navigation-expand-more"></i>
                            </a>
                        </div>
                    </div>
                    <!-- .container end -->
                </div>
            </div>
        </section>
        <!-- #home Section end -->

        <!-- About Section start -->
        <section id="about" class="scroll-section root-sec padd-tb-60 grey lighten-5 about-wrap">
            <div class="container">
                <div class="row">
                    <div class="clearfix about-inner">
                        <div class="col-sm-12 col-md-4">
                            <div class="person-about">
                                <h3 class="about-subtitle">{{ OUR_HISTORY }}</h3>
                                <p>{{ HISTORY }}</p>
                                <a href="https://github.com/the3ballsoft" target="_blank" 
                                    class="waves-effect waves-light btn-large brand-bg white-text">
                                    <i class="fa fa-github left"></i> Github
                                </a>
                                <a href="http://stackshare.io/the3ballsoft/" target="_blank" 
                                    class="waves-effect waves-light btn-large brand-bg white-text">
                                    <i class="fa fa-share-alt-square left"></i> Stackshare
                                </a>
                            </div>
                        </div>
                        <!-- about me description -->

                        <div class="col-sm-6 col-md-4">
                            <div class="person-img wow fadeIn">
                                <img class="z-depth-1" src="{% static 'images/prepare.png' %}" alt="">
                            </div>
                        </div>
                        <!-- about me image -->

                        <div class="col-sm-6 col-md-4">
                            <div class="person-info">
                                <h3 class="about-subtitle">{{ GENERAL_INFORMATION }}</h3>
                                {{ GENERAL_INFORMATION_HTML | safe }}
                            </div>

                            <div class="about-social">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/the3ballsoft/" target="_blank" 
                                            class="btn-floating waves-effect waves-light white">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/the3ballsoft" target="_blank" 
                                            class="btn-floating waves-effect waves-light white">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://plus.google.com/105068445927135032141" target="_blank" 
                                            class="btn-floating waves-effect waves-light white"> 
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/the3ballsoft" target="_blank" 
                                            class="btn-floating waves-effect waves-light white"> 
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- about me info -->

                    </div>
                </div>
            </div>
            <!-- .container end -->
        </section>
        <!-- #about Section end -->

        <!-- Resume Section start -->
        <section id="resume" class="scroll-section ">
            <section id="skill" class="root-sec white skill-wrap">
                <div class="sec-overlay">
                    <div class="container">
                        <div class="row">
                            <div class="clearfix skill-inner">
                                <div class="col-sm-12 col-md-3">
                                    <div class="skill-left">
                                        <h2 class="title">{{ SKILLS }}</h2>
                                        <p class="regular-text">{{ SKILLS_TEXT }}</p>
                                    </div>
                                </div>

                                <!-- skills container -->
                                <div class="col-sm-12 col-md-6 col-md-offset-1">
                                    <div class="skill-right">
                                        <div id="skillSlider" class="clearfix skill-graph">
                                            {{ SKILLS_HTML | safe }}

                                        </div>
                                    </div>
                                </div>
                                <!-- /skills container -->
                            </div>
                        </div>
                        <div class="btn-wrapp skl-ctrl">
                            <a class="btn-floating waves-effect waves-light btn-large brand-bg white-text go go-left"><i class="mdi-navigation-chevron-left "></i></a>
                            <a class="btn-floating waves-effect waves-light btn-large brand-bg white-text go go-right"><i class="mdi-navigation-chevron-right "></i></a>
                        </div>
                    </div>
                </div>
                <!-- .container end -->
            </section>

            <section id="experience" class="root-sec padd-tb-120 brand-bg experience-wrap">
                <div class="container">
                    <div class="row">
                        <div class="experience-inner">
                            <div class="col-sm-12 col-md-10 card-box-wrap">
                                <div class="row">
                                    <div class="clearfix section-head experience-text">
                                        <div class="col-sm-12">
                                            <h2 class="title">{{ EXPERIENCE_TITLE }}</h2>
                                            <p class="regular-text">{{ EXPERIENCE_TEXT }}</p>
                                            <p class="regular-text"></p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="overflow-hidden">
                                            <div class="row">
                                                <div id="experienceSlider" class="clearfix card-element-wrapper">
                                                    {% for e in experience %}
                                                    {{ e | safe }}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-wrapp exp-ctrl">
                                <a class="btn-floating waves-effect waves-light btn-large white go go-left">
                                    <i class="mdi-navigation-chevron-left brand-text"></i></a>
                                <a class="btn-floating waves-effect waves-light btn-large white go go-right">
                                    <i class="mdi-navigation-chevron-right brand-text"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="education" class="root-sec grey lighten-5 padd-tb-120 education-wrap">
                <div class="container">
                    <div class="row">
                        <div class="education-inner">
                            <div class="col-sm-12 col-md-10 card-box-wrap">
                                <div class="row">
                                    <div class="clearfix section-head education-text">
                                        <div class="col-sm-12">
                                            <h2 class="title">{{ EDUCATION_TITLE }}</h2>
                                            <p class="regular-text">{{ EDUCATION_TEXT }}</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="overflow-hidden">
                                            <div class="row">
                                                <div id="educationSlider" class="clearfix card-element-wrapper">
                                                    {% for e in education %}
                                                    {{ e | safe }}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-wrapp edu-ctrl">
                                <a class="btn-floating waves-effect waves-light btn-large brand-bg go go-left">
                                    <i class="mdi-navigation-chevron-left"></i>
                                </a>
                                <a class="btn-floating waves-effect waves-light btn-large brand-bg go go-right">
                                    <i class="mdi-navigation-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!-- #resume Section end -->

        <!-- Portfolio Section start -->
        <section id="portfolio" class="scroll-section root-sec white portfolio-wrap">
            <div class="padd-tb-120 brand-bg portfolio-top">
                <div class="portfolio-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="title">{{ PORTAFOLIO }}</h2>
                                <ul class="inline-menu clearfix portfolio-category" id="portfolio-msnry-sort">
                                    {{ PORTAFOLIO_MENU | safe }}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .container end -->
            </div>
            <div id="portfolioModal" class="modal white">
                <div class="model-img"></div>
                <div class="modal-content">
                    <h2 class="title"></h2>
                    <p class="m-content"></p>
                </div>

                <div class="modal-footer">
                    <a href="#" target="_blank" class="waves-effect btn-flat brand-text modal-action">Live Demo</a>
                    <a href="#" class="waves-effect btn-flat brand-text modal-action modal-close">cancel</a>
                </div>
            </div>

            <div class="portfolio-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="clearfix protfolio-item" id="protfolio-msnry">
                                {% for e in portafolios %}
                                {{ e | safe }}
                                {% endfor %}
                            </ul>
                            <!-- portfolio load more button-->
                            <!--<a id="portfolio-item-loader" href="#" -->
                                <!--class="btn-floating btn-large waves-effect waves-light brand-bg">-->
                                <!--<i class="mdi-content-add"></i>-->
                                <!--</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #portfolio Section end -->

        <!-- Team Section end -->
        <section id="team" class="scroll-section root-sec brand-bg padd-tb-120 team-wrap">
            <div class="container">
                <div class="row">
                    <div class="clearfix team-inner">
                        <div class="col-sm-12 col-md-10 card-box-wrap">
                            <div class="row">
                                <div class="clearfix section-head team-text">
                                    <div class="col-sm-12">
                                        <h2 class="title">{{ OUR_TEAM_TITLE }}</h2>
                                        <p class="regular-text">{{ OUR_TEAM_TEXT }}</p>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="overflow-hidden">
                                        <div class="row">
                                            <div id="teamSlider" class="clearfix card-element-wrapper">
                                                {% for e in team %}
                                                {{ e | safe }}
                                                {% endfor %}
                                            </div> <!-- #teamSlider end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-wrapp tmu-ctrl">
                            <a class="btn-floating waves-effect waves-light btn-large white go go-left">
                                <i class="mdi-navigation-chevron-left brand-text"></i></a>
                            <a class="btn-floating waves-effect waves-light btn-large white go go-right">
                                <i class="mdi-navigation-chevron-right brand-text"></i></a>
                        </div>
                    </div>
                </div>

            </div> <!-- .container -->
        </section>
        <!-- #team Section end -->

        <!-- Funfacts Section end -->
        <section id="funfacts" class="root-sec grey lighten-5 funfact-wrap">
            <div class="sec-inner padd-tb-120">
                <div class="container">
                    <div class="row">
                        <div class="funfact-inner">
                            <div class="col-sm-4 funfact-box">
                                <div class="center-align card-panel white">
                                    <div class="feature-box-outer">
                                        <div class="funfact-box-inner">
                                            <div class="clearfix ">
                                                <i class="mdi-editor-insert-emoticon"></i>
                                                <span class="num countNumb">150</span>
                                            </div>
                                            <div class="context">Happy clients</div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- ./single fun fact box -->
                            <div class="col-sm-4 funfact-box">
                                <div class="center-align card-panel white">
                                    <div class="feature-box-outer">
                                        <div class="funfact-box-inner">
                                            <div class="clearfix ">
                                                <i class="mdi-action-wallet-travel"></i>
                                                <span class="num countNumb">230</span>
                                            </div>
                                            <div class="context">Project Completed</div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- ./single fun fact box -->
                            <div class="col-sm-4 funfact-box">
                                <div class="center-align card-panel white">
                                    <div class="feature-box-outer">
                                        <div class="funfact-box-inner">
                                            <div class="clearfix ">
                                                <i class="mdi-action-wallet-giftcard"></i>
                                                <span class="num countNumb">79</span>
                                            </div>
                                            <div class="context">Award Won</div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- ./single fun fact box -->
                        </div>
                    </div>

                </div>  <!-- .container end -->
            </div>
        </section>
        <!-- #funfacts Section end -->

        <!-- Testimonial Section end -->
        <section id="testimonial" class="scroll-section root-sec brand-bg padd-tb-120 testimonial-wrap">
            <div class="container">
                <div class="row">
                    <div class="testimonial-inner">
                        <div class="col-sm-12 col-md-10 card-box-wrap">
                            <div class="row">
                                <div class="clearfix section-head testimonial-text">
                                    <div class="col-sm-12">
                                        <h2 class="title">{{ TESTIMONIAL }}</h2>
                                        <p class="regular-text">{{ TESTIMONIAL_TEXT }}</p>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="overflow-hidden">
                                        <div class="row">
                                            <div id="testimonialSlider" class="clearfix card-element-wrapper">
                                                {% for e in testimonials %}
                                                {{ e | safe }}
                                                {% endfor %}
                                            </div> <!-- #testimonialSlider end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-wrapp tmo-ctrl">
                            <a class="btn-floating waves-effect waves-light btn-large white go go-left">
                                <i class="mdi-navigation-chevron-left brand-text"></i>
                            </a>
                            <a class="btn-floating waves-effect waves-light btn-large white go go-right">
                                <i class="mdi-navigation-chevron-right brand-text"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div> <!-- ./container end -->
        </section>
        <!-- #testimonial Section end -->

        <!-- Blog Section end -->
        <section id="blog" class="scroll-section root-sec grey lighten-5 padd-tb-120 blog-wrap">
            <div class="container">
                <div class="row">
                    <div class="blog-inner">
                        <div class="col-sm-12 card-box-wrap">
                            <div class="row">
                                <div class="clearfix section-head blog-text">
                                    <div class="col-sm-10">
                                        <h2 class="title">{{ BLOG }}</h2>
                                        <p class="regular-text">{{ BLOG_TEXT }}</p>
                                    </div>
                                </div>
                                <div class="clearfix card-element-wrapper" id="blog-posts">
                                    {% for e in last_blogs %}
                                    <article class="col-sm-6 col-md-4 single-card-box single-post">
                                        <div class="card wow fadeInUpSmall" data-wow-duration=".7s">
                                            <div class="card-image">
                                                <div class="card-img-wrap">
                                                    <div class="blog-post-thumb waves-effect waves-block waves-light">
                                                        <a href="{{ e.link }}">
                                                            <img class="activator" src="{{ e.image }}" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="post-body">
                                                        <a href="single.html" class="post-title-link brand-text">
                                                            <h2 class="post-title">{{ e.title }}</h2>
                                                        </a>
                                                        <p class="post-content">
                                                            {{ e.subtitle }}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix card-content">
                                                <a href="#" class="left js-favorite" title="Love this">
                                                    <i class="mdi-action-favorite"></i><span class="numb">15</span>
                                                </a>
                                                <a href="{{ e.link }}" class="brand-text right waves-effect">{{ READ_MORE }}</a>
                                            </div>
                                        </div>
                                    </article> <!-- ./single blog post end -->
                                    {% endfor %}
                                </div>
                                <div class="clearfix left-align">
                                    <div class="col-sm-12">
                                        <a href="/blog" class="waves-effect waves-light btn-large load-more">{{ SEE_MORE }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- ./container -->
        </section>
        <!-- #blog Section end -->

        <!-- Contact Section end -->
        <section id="contact" class="scroll-section root-sec brand-bg padd-tb-120 contact-wrap">
            <div class="container">
                <div class="row">
                    <div class="contact-inner">
                        <div class="col-sm-12 card-box-wrap">
                            <div class="row">
                                <div class="clearfix section-head contact-text">
                                    <div class="col-sm-12">
                                        <h2 class="title">{{ CONTACT }}</h2>
                                        {{ CONTACT_HTML  |safe }}
                                    </div>
                                </div> <!-- contact text end -->

                                <div class="clearfix contact-form">

                                    <!-- Map Start -->
                                    <div class="col-sm-7">
                                        <div class="map-wrapper">
                                            <div id="map"></div>
                                        </div>
                                    </div> <!-- Map end -->

                                    <!-- Contact Form start -->
                                    <div class="col-sm-5">
                                        <div class="clearfix card-panel grey lighten-5 cform-wrapper">
                                            {{ CONTACT_FORM_HTML | safe }}
                                        </div>
                                    </div> <!-- ./contact form end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- ./container end -->
            <div class="section-call-to-area">
                <div class="container">
                    <div class="row">
                        <a href="#home"
                            class="btn-floating btn-large button-middle call-to-home section-call-to-btn animated btn-up btn-hidden"
                            data-section="#home">
                            <i class="mdi-navigation-expand-less"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- #contact Section end -->

    </div>

    <!-- Footer Section end -->
    <footer id="footer" class="root-sec white root-sec footer-wrap">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="clearfix footer-inner">
                        <ul class="left social-icons">
                            <li><a href="https://www.facebook.com/the3ballsoft/"
                                    class="tooltips tooltipped facebook" data-position="top" 
                                    data-delay="50" data-tooltip="Facebook"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/company/the3ballsoft"
                                    class="tooltips tooltipped linkedin" data-position="top" 
                                    data-delay="50" data-tooltip="Linkdin"><i class="fa fa-linkedin"></i></a>
                            </li>
                            <li><a href="https://twitter.com/the3ballsoft" 
                                    class="tooltips tooltipped twitter" data-position="top" 
                                    data-delay="50" data-tooltip="Twitter"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://plus.google.com/105068445927135032141"
                                    class="tooltips tooltipped google-plus" data-position="top" 
                                    data-delay="50" data-tooltip="Google Plus"><i class="fa fa-google-plus"></i></a>
                            </li>
                        </ul> <!-- ./social icons end -->
                        <div class="right copyright">
                            <p>{{ COPYRIGHT | safe }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- ./container end-->
    </footer>
    <!-- #footer end -->
</main>
{% endblock content %} 
